<!-- Page Header -->
<header class="page-header">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-8 mx-auto text-center">
        <h1>Our Gallery</h1>
        <p class="subtitle">Explore our collection of memorable moments and achievements</p>
        <div class="header-divider"></div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <!-- gallery Grid -->
    <div class="container">
      <div class="grid-container">
        <div class="grid-item" *ngFor="let item of galleryItems; let i = index" [class]="'item-' + (i + 1)">

          <div class="item-image">
            <img *ngIf="item.thumbnailImageBase64" [src]="'data:image/jpeg;base64,' + item.thumbnailImageBase64"
              [alt]="item.title" class="grid-image" (click)="openLightbox(item)" />
            <div class="overlay"></div>
          </div>

          <div class="item-content">
            <h3 class="item-title">{{ item.title }}</h3>
            <p class="item-description">{{ item.subtitle }}</p>
            <a class="read-more" (click)="navigateToGallary(item.id); $event.stopPropagation()">
              View Details
            </a>
          </div>

        </div>
      </div>


    </div>
