<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <!-- Logo Section (Left) -->
    <div class="d-flex align-items-center">
      <a class="navbar-brand me-2" routerLink="/">
        <img src="assets/fifotech-logo.png" alt="FIFO Tech Logo" class="logo" />
      </a>

      <!-- Two additional images beside logo -->
      <img src='assets/certificate-1.png' alt="Partner 1" class="logo-extra me-2" />
      <img src='assets/certificate-2.jpeg' alt="Partner 2" class="logo-extra" />
    </div>

    <!-- Mobile Toggle Button -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navigation Items -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navigation Items (Centered) -->
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>    
        <li class="nav-item"><a class="nav-link" routerLink="/about">About</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/services">Services</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/news">News & Events</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/gallery">Gallery</a></li>
        <!-- <li class="nav-item"><a class="nav-link" routerLink="/bpo-alliance">Global BPO Alliance</a></li> -->
        <li class="nav-item"><a class="nav-link" routerLink="/career">Career</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/contact">Contact</a></li>
      </ul>
      
      <!-- Login Button (Right) -->
      <div class="d-flex">
        <a href="https://webmail.fifo-tech.com/" target="_blank" rel="noopener noreferrer">
          <img src="assets/webmail.png" alt="web-mail" class="mail-img">
        </a>
      </div>      
    </div>
  </div>
</nav>
