<div class="custom-footer-bottom">
  <p class="custom-footer-text">
    Copyright © 2025 by FIFOTech. All Rights Reserved.
  </p>
  <nav class="custom-footer-nav">
    <a (click)="navigateTo('/')" class="custom-footer-link">Home</a> |
    <a (click)="navigateTo('/services')" class="custom-footer-link">Service</a> |
    <a (click)="navigateTo('/news')" class="custom-footer-link">News</a> |
    <a (click)="navigateTo('/career')" class="custom-footer-link">Career</a> |
    <a (click)="navigateTo('/about')" class="custom-footer-link">About</a>       
  </nav>
</div>