.custom-footer-bottom {
  text-align: center;
  background-color:  #0351a0;
  padding: 14px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  color: #fff;
}

.custom-footer-text {
  margin: 0;
  font-size: 15px;
  margin-bottom: 7px;
}

.custom-footer-nav .custom-footer-link {
  color: #fff;
  text-decoration: none;
  margin: 0 5px;
}

.custom-footer-nav .custom-footer-link:hover {
  text-decoration: underline;
}

