<div class="dashboard-container">
  <div class="dashboard-header">
    <h1>Admin Dashboard</h1>
    <p>Welcome to the administration panel</p>
  </div>

  <div class="dashboard-cards">
    <div *ngFor="let page of adminPages" class="dashboard-card" [routerLink]="[page.path]">
      <div class="card-icon">
        <img *ngIf="page.iconImage" [src]="page.iconImage" alt="{{ page.title }} Icon" class="card-image-icon">
      </div>
      <h3>{{page.title}}</h3>
      <p>{{page.description}}</p>
    </div>
  </div>
</div>